.componentTaskListCont{
    position: relative;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-weight: 400;
        }
    }
    &__taskList{
        margin: 0 2rem;
        text-align: center;
    }
    &__encabezado{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5rem;
        h2{            
            width: 28%;
            margin-right: 4rem;
            font-size: 1.2rem;
            font-weight: 400;
        }
        h3{   
            width: 17%;
            margin-right: 2rem;
            font-size: 1.2rem;
            font-weight: 400;
        }
        h4{
            width: 140px;
            
            font-size: 1.2rem;
            font-weight: 400;
        }

    }
    
    &__button{
        background-color: transparent;
        border: none;
        img{
            width: 50px;
        }
    }
}

@media screen and (max-width: 991px) {

    div.componentTaskListCont{

        &__encabezado{
         display: none;
         visibility: hidden;   
        }
        .componentTaskListCont__taskList{
            margin: 1rem 0.5rem;
        }
        
        
    }
    
}