.componentTask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2e2f;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 0.5rem 2.5rem;
    .taskName{
        width: 28%;
        font-size: $titleTaskSize;
        font-weight: 500;
    }
    .taskLevel{
        text-align: center;
        width: 17%;
    }
    h4{
        font-weight: 400;
        span{
            display: block;
        }
    }
}