.taskDetail{
    a{
        img{
            width: 40px;
            &:hover{
                transform: scale(110%);
            }
        }
    }
    &__data{
        display: flex;
        justify-content: space-between;
        background-color: #2a2e2f;
        height: 200px;
        margin-top: 1rem;
        &__description{
            width: 70%;
            padding: 0 2rem;
        }
        &__date{
            flex-grow: 1;
            background-color: #25282a ;
            text-align: center;
            padding: 0 2rem;
        }
    }

}