.taskDetail__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        h1{

            margin: 0;
            margin-top: 1rem ;
        }
        h4{
            margin: 0;
            margin-bottom: 1rem;
            font-weight: 300
        }
    }
    div:nth-child(2){
        display: flex;
        align-items: center;
        gap: 0.5rem;
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                transform: scale(110%);
            }
            img{
                width: 30px;
            }
        }
    }
}