.TaskCommentary{
    &__title{
        display: flex;
        gap: 2rem;
        button{
            background-color: transparent;
            border: none;
            transition: all 0.3s;
            cursor: pointer;
            img{
                width: 50px;
            }
            &:hover{
                transform: scale(110%);
            }
        }
    }
    &__comment{
        background-color: #2a2e2f;
        margin-bottom: 0.5rem;
        border-radius: 10px;
        p{
            padding: 1rem;
            margin: 0;
        }

    }
    
}