.appContainer{
    display: flex;
    // height: 100vh;
    .btnMenu{
        display: none;
        visibility: hidden;
        filter: invert(100%);
    }
}

.contentContainer{
    padding: 4rem 2rem;
    width: 80%;
    flex-grow: 1;

}

.btn{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transform: scale(110%);
    }
}

.btnPrimary{
    background-color: #181a1b;
    color: #3391ff;
}

@media screen and (max-width: 991px) {
    .appContainer{
        flex-direction: column;
        .btnMenu{
            position: absolute;
            display: block;
            visibility: visible;
            width: 40px;
            z-index: 999;
        }
    }
    .contentContainer{
        width: 100vw;
        padding: 4rem 0;
    
    }
    
}